In [31]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://arnob97:justin10698@mycluster.htwpnqz.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['ac-oqeauhv-shard-00-00.htwpnqz.mongodb.net:27017', 'ac-oqeauhv-shard-00-01.htwpnqz.mongodb.net:27017', 'ac-oqeauhv-shard-00-02.htwpnqz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r8hlhq-shard-0', tls=True), 'test')

In [7]:
database = client['test_db']

database wont show before data is stored

In [8]:
coll = database['test_collection']

In [9]:
data = {'class name': 'data science',
        'topic name': 'MongoDB NoSQL',
        'Date': '31st jan 2023'}

In [10]:
coll.insert_one(data)

In [13]:
many_data = [{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023"
}]

In [14]:
coll.insert_many(many_data)

In [16]:
data1 = {"_id " : "arnob " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "31st jan 2023",
         "todays task" : "mysql based task",
         "todays conficuratioin" : ["mongo atlas ", "mysql workbench" , "mongo compass"]}

In [17]:
coll.insert_one(data1)

In [32]:
db = client['test_db1']
collection = db['course']
collection1 = db['students']

Document we are trying to store inside mongodb in json format. This is just one data we are trying to insert.

In [8]:
datas = {
    'Course_Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Course_instructor': ['sudh','anand','hitesh','krish','navin'],
    'Start_date': '12-12-2023',
    'Duration': 'Six Months',
    'Mode': 'live',
    'Certification': 'Yes',
    'Prerequisite': 'Dedication',
    'Resume': 'Yes',
    'Mock_Interview': 'Yes'
}

In [10]:
collection.insert_one(datas)

In [11]:
datas1 = {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
}

In [12]:
collection.insert_one(datas1)

list can be used for bulk inserting

In [13]:
datas2 = [
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
        },
    {
    'Name': ['Full stack data science', 'Full stack data analytics','big data','devops','blockchain'],
    'Instructor': ['sudh','anand','hitesh','krish','navin'],
    'Price': '17700',
    'Duration': 'Eight Months',
    }
]

In [2]:
collection.insert_many(datas2)

NameError: name 'collection' is not defined

Operation queries

In [6]:
rec = collection.find()

In [7]:
from pprint import pprint

In [8]:
for i in rec :
    pprint(i)

{'Certification': 'Yes',
 'Course_Name': ['Full stack data science',
                 'Full stack data analytics',
                 'big data',
                 'devops',
                 'blockchain'],
 'Course_instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Duration': 'Six Months',
 'Mock_Interview': 'Yes',
 'Mode': 'live',
 'Prerequisite': 'Dedication',
 'Resume': 'Yes',
 'Start_date': '12-12-2023',
 '_id': ObjectId('63d8b6075d082b0985f1863b')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b7d55d082b0985f1863c')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f1863d')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f1863e')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f1863f')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f18640')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f18641')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f18642')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': '17700',
 '_id': ObjectId('63d8b8f15d082b0985f18643')}

In [9]:
collection.find_one()

{'_id': ObjectId('63d8b6075d082b0985f1863b'),
 'Course_Name': ['Full stack data science',
  'Full stack data analytics',
  'big data',
  'devops',
  'blockchain'],
 'Course_instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Start_date': '12-12-2023',
 'Duration': 'Six Months',
 'Mode': 'live',
 'Certification': 'Yes',
 'Prerequisite': 'Dedication',
 'Resume': 'Yes',
 'Mock_Interview': 'Yes'}

searching for the key whose value is known

In [11]:
rec1 = collection.find({}, {'Six Months'})

but it shows

In [12]:
for i in rec1:
    pprint(i)

{'_id': ObjectId('63d8b6075d082b0985f1863b')}
{'_id': ObjectId('63d8b7d55d082b0985f1863c')}
{'_id': ObjectId('63d8b8f15d082b0985f1863d')}
{'_id': ObjectId('63d8b8f15d082b0985f1863e')}
{'_id': ObjectId('63d8b8f15d082b0985f1863f')}
{'_id': ObjectId('63d8b8f15d082b0985f18640')}
{'_id': ObjectId('63d8b8f15d082b0985f18641')}
{'_id': ObjectId('63d8b8f15d082b0985f18642')}
{'_id': ObjectId('63d8b8f15d082b0985f18643')}

Double curly braces show only that particular record not all the records. single curly braces is equivalent to * in SQL

In [18]:
rec1 = collection.find({}, {'Duration': 'Eight Months'})

In [19]:
for i in rec1:
    pprint(i)

{'Duration': 'Eight Months', '_id': ObjectId('63d8b6075d082b0985f1863b')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b7d55d082b0985f1863c')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f1863d')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f1863e')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f1863f')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f18640')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f18641')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f18642')}
{'Duration': 'Eight Months', '_id': ObjectId('63d8b8f15d082b0985f18643')}

In [17]:
for i in collection.find({'Duration': 'Six Months'}):
    pprint(i)

{'Certification': 'Yes',
 'Course_Name': ['Full stack data science',
                 'Full stack data analytics',
                 'big data',
                 'devops',
                 'blockchain'],
 'Course_instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Duration': 'Six Months',
 'Mock_Interview': 'Yes',
 'Mode': 'live',
 'Prerequisite': 'Dedication',
 'Resume': 'Yes',
 'Start_date': '12-12-2023',
 '_id': ObjectId('63d8b6075d082b0985f1863b')}

Update operation

changing the price data type and value

In [26]:
# This is a MongoDB update operation
# It updates many documents in the collection where the field "Price" is equal to "18000"
# and sets the field "Price" to the value 18000 (which is a number, not a string).
collection.update_many({'Price': '18000'}, {'$set': {'Price': 18000}})

In [29]:
for i in collection.find({'Price': 18000}):
    pprint(i)

{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b7d55d082b0985f1863c')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f1863d')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f1863e')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f1863f')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f18640')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f18641')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f18642')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 18000,
 '_id': ObjectId('63d8b8f15d082b0985f18643')}

less than

In [34]:
# This is a loop that finds documents in the collection where the field "Price" is less than 18000
# and prints each document using the pprint function
for i in collection.find({'Price': {'$lt': 18000}}):
    pprint(i)

{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 1800,
 '_id': ObjectId('63d8b7d55d082b0985f1863c')}
{'Duration': 'Eight Months',
 'Instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Name': ['Full stack data science',
          'Full stack data analytics',
          'big data',
          'devops',
          'blockchain'],
 'Price': 1800,
 '_id': ObjectId('63d8b8f15d082b0985f1863e')}

$lte, $gte, $gt, $lt

#### Class Example using mongoDB ####

In [32]:
import pymongo
import logging

#Set up logging
logging.basicConfig(filename='mongodb_operations.log', level=logging.INFO, format='%(asctime)s %(message)s', datefmt='%m/%d/%Y %I:%M:%S %p')


#Class to connect and perform operations in MongoDB
class MongoDB:

    def __init__(self, user_id, password):
        self.user_id = user_id
        self.password = password
        self.client = None
        self.db = 'MongoDB_test'
        self.coll = 'Test_Collection'
    
    # Function to connect to MongoDB
    def connect(self):
        """
        Connects to MongoDB using the specified URL.
        
        :param url: MongoDB connection URL in the format of "mongodb://<host>:<port>/"
        :return: MongoDB client object
        """
        try:
            self.client = pymongo.MongoClient(f'mongodb+srv://{self.user_id}:{self.password}@mycluster.htwpnqz.mongodb.net/?retryWrites=true&w=majority')
            logging.info("Successfully connected to MongoDB.")
        except pymongo.errors.ConnectionFailure as e:
            logging.error(f'Error connecting to MongoDB: {e}')
        return self.client
    
    # Function to insert documents into MongoDB
    def insert(self, document):
        """
        Inserts a document into the specified collection in MongoDB.
        
        :param collection: MongoDB collection object
        :param document: Dictionary containing the document data to be inserted
        """
        try:
            db = self.client[self.db]
            collection = db[self.coll] 
            collection.insert_one(document)
            logging.info("Document inserted successfully.")
        except Exception as e:
            logging.error(f'Error inserting document: {e}')

    # Function to update documents in MongoDB
    def update(self, criteria, updated):
        """
        Updates the matching documents in the specified collection in MongoDB.
        
        :param collection: MongoDB collection object
        :param filter: Dictionary containing the filter criteria to find the matching documents
        :param update: Dictionary containing the updates to be made on the matching documents
        """
        try:
            db = self.client[self.db]
            collection = db[self.coll]
            collection.update_one(criteria, {'$set': updated})
            logging.info("Document updated successfully.")
        except Exception as e:
            logging.error(f'Error updating document: {e}')

In [33]:
user_id = "arnob97"
password = "justin10698"
mon = MongoDB(user_id, password)
mon.connect()

MongoClient(host=['ac-oqeauhv-shard-00-02.htwpnqz.mongodb.net:27017', 'ac-oqeauhv-shard-00-00.htwpnqz.mongodb.net:27017', 'ac-oqeauhv-shard-00-01.htwpnqz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-r8hlhq-shard-0', tls=True)

In [34]:
data_test = {'Certification': 'Yes',
 'Course_Name': ['Full stack data science',
                 'Full stack data analytics',
                 'big data',
                 'devops',
                 'blockchain'],
 'Course_instructor': ['sudh', 'anand', 'hitesh', 'krish', 'navin'],
 'Duration': '8 Months',
 'Mock_Interview': 'Yes',
 'Mode': 'live',
 'Prerequisite': 'Dedication',
 'Resume': 'Yes',
 'Start_date': '12-12-2023'
}

In [35]:
mon.insert(data_test)

In [36]:
crit = {'Duration': '8 Months'}
up = {'Duration': '14 Months'}
mon.update(crit, up)