In [2]:
import sqlite3

creates local database

In [42]:
db = sqlite3.connect('sqlite.db')

In [43]:
cur = db.cursor()
cur.execute('CREATE TABLE fsds (Student_name TEXT, student_id INT, marks REAL)')

In [44]:
cur.execute('INSERT INTO fsds VALUES("RAKIB", 11125, 94)')

In [45]:
for i in cur.execute('SELECT * FROM fsds'):
    print(i)

('RAKIB', 11125, 94.0)

In [46]:
for i in cur.execute('SELECT * FROM fsds WHERE marks > 93'):
    print(i)

('RAKIB', 11125, 94.0)

In [49]:
for i in cur.execute('SELECT Student_name, student_id FROM fsds WHERE marks > 93'):
    print(i)

('RAKIB', 11125)

In [50]:
db.commit()
db.close()

In [3]:
db = sqlite3.connect("person.db")
cur = db.cursor()
cur.execute("create table person_table(Student_name text , emailid text , age int , salary real)")

OperationalError: table person_table already exists

In [4]:
cur.execute("insert into person_table values('ARNOB' , 'ARNOB@ineuron.ai' , 23 , 23424)")
cur.execute("insert into person_table values('ADNAN' ,'ADNAN@ineuron.ai' , 34 , 23543543)")
cur.execute("insert into person_table values('RIYAD' , 'RIYAD@ineuron.ai' , 23 ,34534564)")
cur.execute("insert into person_table values('RAKIB' ,'RAKIB@ineuron.ai' , 23,7789797)")
cur.execute("insert into person_table values('RISHAD' ,'RISHAD@ineuron.ai' , 23,7789797)")
cur.execute("insert into person_table values('GALIB' ,'GALIB@ineuron.ai' , 24,7789797)")
cur.execute("insert into person_table values('TAMIM' ,'TAMIM@ineuron.ai' , 25,7789797)")
cur.execute("insert into person_table values('KARIM' ,'KARIM@ineuron.ai' , 23,7789797)")

In [5]:
db = sqlite3.connect('jobdb.db')
cur = db.cursor()

In [6]:
cur.execute('create table student(student_id int , Student_name text , emailid text , marks int)')
cur.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

OperationalError: table student already exists

In [7]:
cur.execute("insert into student values(10698,'ARNOB' , 'ARNOB@ineuron.ai' , 94)")
cur.execute("insert into student values(11181,'ADNAN' , 'ADNAN@ineuron.ai' , 98)")
cur.execute("insert into student values(10725,'RIYAD' , 'RIYAD@ineuron.ai' , 97)")
cur.execute("insert into student values(11125,'RAKIB' , 'RAKIB@ineuron.ai' , 94)")
cur.execute("insert into student values(10125,'RISHAD' , 'RISHAD@ineuron.ai' , 91)")
cur.execute("insert into student values(12255,'GALIB' , 'GALIB@ineuron.ai' , 91)")
cur.execute("insert into student values(4483,'TAMIM' , 'TAMIM@ineuron.ai' , 93)")
cur.execute("insert into student values(12445,'KARIM' , 'KARIM@ineuron.ai' , 93)")
cur.execute("insert into student values(12423,'sudhashu' , 'sudhanshu@ineuron.ai' , 89)")
cur.execute("insert into student values(233543,'carmine' , 'carmine@ineuron.ai' , 92)")
cur.execute("insert into student values(23345,'jones' , 'jones@ineuron.ai' , 92)")
cur.execute("insert into student values(233543,'sikorsky' , 'sikorsky@ineuron.ai' , 85)")

In [8]:
cur.execute("insert into address values(10698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(11181 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(10725 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(11125 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(10125 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(12255 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(4483 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(12445 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(12423 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(233543 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
cur.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

join operation

In [9]:

for i in cur.execute('SELECT * FROM student s left join address a on s.student_id = a.student_id'):
    print(i)

(10698, 'ARNOB', 'ARNOB@ineuron.ai', 94, 10698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(11181, 'ADNAN', 'ADNAN@ineuron.ai', 98, 11181, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(10725, 'RIYAD', 'RIYAD@ineuron.ai', 97, 10725, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(11125, 'RAKIB', 'RAKIB@ineuron.ai', 94, 11125, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(10125, 'RISHAD', 'RISHAD@ineuron.ai', 91, 10125, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(12255, 'GALIB', 'GALIB@ineuron.ai', 91, 12255, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(4483, 'TAMIM', 'TAMIM@ineuron.ai', 93, 4483, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(12445, 'KARIM', 'KARIM@ineuron.ai', 93, 12445, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(12423, 'sudhashu', 'sudhanshu@ineuron.ai', 89, 12423, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'carmine', 'carmine@ineuron.ai', 92, 233543, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'jones', 'jones@ineuron.ai', 92, None, None, None, None, None)
(233543, 'sikorsky', 'sikorsky@ineuron.ai', 85, 233543, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [11]:
cur.execute("UPDATE student SET student_id = 10832 where student_id = 12423")

In [13]:
data = cur.execute('select * from student')
data.fetchall()

[(10698, 'ARNOB', 'ARNOB@ineuron.ai', 94),
 (11181, 'ADNAN', 'ADNAN@ineuron.ai', 98),
 (10725, 'RIYAD', 'RIYAD@ineuron.ai', 97),
 (11125, 'RAKIB', 'RAKIB@ineuron.ai', 94),
 (10125, 'RISHAD', 'RISHAD@ineuron.ai', 91),
 (12255, 'GALIB', 'GALIB@ineuron.ai', 91),
 (4483, 'TAMIM', 'TAMIM@ineuron.ai', 93),
 (12445, 'KARIM', 'KARIM@ineuron.ai', 93),
 (10832, 'sudhashu', 'sudhanshu@ineuron.ai', 89),
 (233543, 'carmine', 'carmine@ineuron.ai', 92),
 (23345, 'jones', 'jones@ineuron.ai', 92),
 (233543, 'sikorsky', 'sikorsky@ineuron.ai', 85)]

In [14]:
db.commit()
db.close()

#### Mapping ####

In [15]:
l = [1,2,3,4,5,6,7]

In [16]:
l1 = []
for i in l:
    l1.append(i+5)

l1

[6, 7, 8, 9, 10, 11, 12]

In [17]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11, 12]

In [18]:
def test(a):
    return a+5

In [20]:
list(map(test,l))

[6, 7, 8, 9, 10, 11, 12]

In [27]:
list(map(lambda x: x+5, l))

[6, 7, 8, 9, 10, 11, 12]

In [21]:
l1 = ['3125','234','85','568','3568','94']

In [23]:
list(map(int,l1))

[3125, 234, 85, 568, 3568, 94]

In [25]:
list(map(lambda x: int(x), l1))

[3125, 234, 85, 568, 3568, 94]

#### Filter ####

In [28]:
l = [4,5,6,7,78,8,78]

In [35]:
[i for i in l if i%2 == 0]

[4, 6, 78, 8, 78]

In [38]:
def test(a):
    if a%2 == 0:
        return a

In [39]:
list(filter(test,l))

[4, 6, 78, 8, 78]

In [40]:
list(filter(lambda x: x%2 == 0,l))

[4, 6, 78, 8, 78]

In [41]:
list(map(lambda x: x%2 == 0,l))

[True, False, True, False, True, True, True]

#### Reduce ####

In [42]:
from functools import reduce

In [44]:
l = [3,4,5,6,7,3,8]

In [43]:
def test(a,b,c):
    return a+b+c

In [46]:
reduce(test,l)

TypeError: test() missing 1 required positional argument: 'c'

The reason the function `test` with the signature `def test(a, b, c)` doesn't work with the `reduce` function is because `reduce` expects the function passed as the first argument to take only two arguments, not three.

`reduce` successively applies the function passed as the first argument to the elements of the sequence passed as the second argument, and accumulates the result. It starts by applying the function to the first two elements of the sequence, then it takes the result and the next element of the sequence and applies the function again. This process continues until all elements of the sequence have been processed.

Since `reduce` expects the function passed as the first argument to take only two arguments, using a function `test` with three arguments (`a`, `b`, and `c`) results in a `TypeError`. To resolve this error, you need to modify the function `test` so that it takes only two arguments, or use a different function that takes only two arguments with `reduce`.

In [48]:
reduce(lambda x,y: x+y, l)

36

#### Zip ####

The `zip()` function is then used to create a new list of tuples. Each tuple in the new list contains one element from each of the original lists. In this case, the first tuple would contain the first elements of both `l` and `l1` (1 and 4), the second tuple would contain the second elements of both lists (2 and 5), and so on.

So, `list(zip(l,l1))` would return the following list of tuples: `[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8)]`.

In [49]:
l = [1,2,3,4,5]
l1 = [4,5,6,7,8]

list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8)]

if we add more

In [50]:
l2 = ['arnob','baki','hanma','yujiro']
list(zip(l,l1,l2))

[(1, 4, 'arnob'), (2, 5, 'baki'), (3, 6, 'hanma'), (4, 7, 'yujiro')]

q1

In [52]:
import logging
from functools import reduce

def word_count(filename):
    with open(filename, 'r') as f:
        text = f.read()
        words = text.split()
        print

In [ ]:
from collections import Counter
with open('vocab.pubmed.txt', 'r') as f:
        text = f.read()
        words = text.split()
        word_count = Counter(words)
        print(word_count.most_common())