## string, list and indexing ##

In [1]:
a = 'sakif arnob'

In [40]:
a[-4:-1]
# scaling direction is from left to right

NameError: name 'a' is not defined

In [7]:
a[-3:-6:-1]
# step direction and index direction must be in same direction

'nra'

In [17]:
a.find('ar')

6

In [31]:
a.title()

'Sakif Arnob'

In [24]:
b= 'sdf3GASsdgd'

In [25]:
b.swapcase()

'SDF3gasSDGD'

In [27]:
a.join(b)

'ssakif arnobdsakif arnobfsakif arnob3sakif arnobGsakif arnobAsakif arnobSsakif arnobssakif arnobdsakif arnobgsakif arnobd'

In [28]:
" ".join(a)

's a k i f   a r n o b'

In [40]:
a.strip()

'sakif arnob'

In [32]:
a.replace('s', 'x')

'xakif arnob'

In [33]:
"sakif\tarnob".expandtabs()

'sakif   arnob'

In [35]:
a.center(40, 't')

TypeError: The fill character must be exactly one character long

In [38]:
s = '       my name is arnob'
s.strip('is')

'       my name is arnob'

In [41]:
s.isspace()

False

In [43]:
a.encode()

b'sakif arnob'

In [48]:
l = ['asdg', 123, 324+ 43j, True, 234.554]

In [46]:
l[2].real

324.0

In [52]:
# list is a mutable entity
# string is immutable
l[0][0] = 's'

TypeError: 'str' object does not support item assignment

In [19]:
s = ['awegef', 133, True, 345.332,27+3j]

In [20]:
s[0].replace('a', 'y')
# instead of s[0][0] = 's'

'ywegef'

In [21]:
133 in s

True

In [22]:
s.append('billu')
s

['awegef', 133, True, 345.332, (27+3j), 'billu']

In [23]:
s.pop()
s

['awegef', 133, True, 345.332, (27+3j)]

In [24]:
s.pop(3)

345.332

In [25]:
s

['awegef', 133, True, (27+3j)]

In [26]:
s.insert(2, 'pintu')
s

['awegef', 133, 'pintu', True, (27+3j)]

In [27]:
s.insert(4, [34,66,113,421])
s

['awegef', 133, 'pintu', True, [34, 66, 113, 421], (27+3j)]

In [28]:
s[::-1]
# temporary unless stored

[(27+3j), [34, 66, 113, 421], True, 'pintu', 133, 'awegef']

In [29]:
s

['awegef', 133, 'pintu', True, [34, 66, 113, 421], (27+3j)]

In [31]:
s.reverse()
# permanent reverse

In [32]:
s

[(27+3j), [34, 66, 113, 421], True, 'pintu', 133, 'awegef']

In [33]:
s.reverse()

In [34]:
s

['awegef', 133, 'pintu', True, [34, 66, 113, 421], (27+3j)]

In [35]:
s[4][2]

113

In [37]:
s.append([64,56,153,31])
s
# append adds all the elements as a list only. wrapped list only

['awegef', 133, 'pintu', True, [34, 66, 113, 421], (27+3j), [64, 56, 153, 31]]

In [40]:
s.extend([64,56,153,31,'ZSADDg'])
s
# extend adds all the elements as individuals. unwrap the whole list only

In [43]:
l12 = [2834, 278]
l12 + list('aef1224')
# iterates the whole list elements

[2834, 278, 'a', 'e', 'f', '1', '2', '2', '4']

In [44]:
l12 + ['aef1224']

[2834, 278, 'aef1224']

In [11]:
x1 = ['asset', 3454]
x2 = x1
x2[0] = 'liability'
x1, x2
# deepcopy. both x1 and x2 occupies the same reference space. when x2 changes x1 also changes due to sharing same space

(['liability', 3454], ['liability', 3454])

In [10]:
s1 = 'asking'
s2 = s1
s2 = 'silk'
s1,s2
# swallow copy. initially s1 and s2 occupiees the same space. but when we are creating or assigning new values for s2, it occupires new spaces and does not change the referenece one.
## the difference is in x2[0] and x2 =.

('asking', 'silk')

In [5]:
k1 = ['gre', 23, True]
k1[0][0].replace('e','f')

k2 = ['gre', 23, True]
k2[0] = str(k2[0]).replace('e','f')
k1,k2

(['gre', 23, True], ['grf', 23, True])

## tuples, set and dictionary ##

## tuple ##

In [8]:
t = (2,3,4,45,23)
type(t)

tuple

In [10]:
t = ('arnob', 325, 34+2j, True, ['erg', 453, 43.44])
type(t)

tuple

In [11]:
t

('arnob', 325, (34+2j), True, ['erg', 453, 43.44])

In [13]:
 t = ['arnob', 325, 34+2j, True, ['erg', 453, 43.44]]
 type(t)

list

In [14]:
t1 = ('arnob', 325, 34+2j, True, ['erg', 453, 43.44])
t2 = (35,27,83,43)
t1 + t2

('arnob', 325, (34+2j), True, ['erg', 453, 43.44], 35, 27, 83, 43)

In [16]:
t1.index(325)

1

In [18]:
t = (23,226,234,63,(54,435,(234,42)))

In [19]:
t[4][2][0]

234

In [20]:
t1 = ([3,4,5,6],('sdf',245,5),'rgwr')

In [23]:
t1[0][2] = 'erg'

In [24]:
t1

([3, 4, 'erg', 6], ('sdf', 245, 5), 'rgwr')

In [26]:
#list to tuple and tuple to list 
t2 = list(t1)
t2

([3, 4, 'erg', 6], ('sdf', 245, 5), 'rgwr')

```python
slicing works fine on both tuple and list
item reassignment doesnt work on tuples as they are immutable
append works fine. working functions are count and index
nested tuples work
If theres a list inside a tuple the list items inside can be mutated.
Tuples are used for database security
```

## sets ##

In [27]:
l = [3,34,5,3,6,34,6,2,4,6,3,6253,62,46,3,4,6]

In [31]:
#set removes duplicate and is a collection of unique elements
# even if we input duplicates in a set, it will remove them
set(l)

{2, 3, 4, 5, 6, 34, 46, 62, 6253}

In [30]:
# empty sets are dictionaries
s1 = {}
s2 ={'fwe',3 ,43,32}
type(s1), type(s2)

(dict, set)

In [35]:
s2.add('2aarb')
s2

{'2aarb', 3, 32, 43, 'fwe'}

In [39]:
s2.add((23,252,252,653))
s2

{(23, 25, 252, 653), (23, 252, 252, 653), '2aarb', 3, 32, 43, 'fwe'}

In [47]:
s1 = {(2,4,2,3),(2,4,2,3),'abarb',3452,235,246,4262,23}
s1

{(2, 4, 2, 3), 23, 235, 246, 3452, 4262, 'abarb'}

In [48]:
s1.remove(3452)
s1

{(2, 4, 2, 3), 23, 235, 246, 4262, 'abarb'}

In [49]:
s1.discard(246)
s1

{(2, 4, 2, 3), 23, 235, 4262, 'abarb'}

In [50]:
s1.remove(34)

KeyError: 34

In [51]:
s1.discard(34)

In [1]:
s = {'arnob','Arnob'}
s

{'Arnob', 'arnob'}

In [2]:
s[0]

TypeError: 'set' object is not subscriptable

```python
As set is an unordered collection, it does not support indexing or slicing or subscripting.
For indexing it is required to converted to tuples or list.
We cant add a list inside a set as sets find uniqueness in primitive data types like str,int etc
We can add tuples as they are immutable.
Sets can remove dupicate tuples but not inside tuples as they are immutable
Sets are case sensitive
```

## dictionary ##

In [8]:
d = {'arnob': 10698, 'mallu': 10687, 'hidle': 10785}
d
# hold data as key and value pair

{'arnob': 10698, 'mallu': 10687, 'hidle': 10785}

In [9]:
d['arnob']

10698

In [11]:
d = {*: ['aas',4,55,2]}
# symbols dont work as keys

SyntaxError: invalid syntax (Temp/ipykernel_8216/4202825170.py, line 1)

In [15]:
d = {'aef': ('aas',4,55,2)}
d1 = {'agr': {'aas',4,55,2}}
type(d),type(d1)

(dict, dict)

In [25]:
d1 = {'key1': 'aef', 'key2': 'aweg', 'key1': 'asee'}
d1
# same keys give the latest value

{'key1': 'asee', 'key2': 'aweg'}

In [2]:
d1['key1']

'asee'

In [4]:
d = {'name': 'arnob', 'mo_no': '01610812120', 'email': 'sakifarnob98@gmail.com', 'key1': [3,5,2,3,5], 'key2': (3,2,5,4,7), 'key3': {3,4,2,7,5,8,8}, 'key': {3: 4, 7: 8}}
d

{'name': 'arnob',
 'mo_no': '01610812120',
 'email': 'sakifarnob98@gmail.com',
 'key1': [3, 5, 2, 3, 5],
 'key2': (3, 2, 5, 4, 7),
 'key3': {2, 3, 4, 5, 7, 8},
 'key': {3: 4, 7: 8}}

In [9]:
d['key'][7]

8

In [10]:
d.keys()

dict_keys(['name', 'mo_no', 'email', 'key1', 'key2', 'key3', 'key'])

In [12]:
d.values()

dict_values(['arnob', '01610812120', 'sakifarnob98@gmail.com', [3, 5, 2, 3, 5], (3, 2, 5, 4, 7), {2, 3, 4, 5, 7, 8}, {3: 4, 7: 8}])

In [14]:
d.items()

dict_items([('name', 'arnob'), ('mo_no', '01610812120'), ('email', 'sakifarnob98@gmail.com'), ('key1', [3, 5, 2, 3, 5]), ('key2', (3, 2, 5, 4, 7)), ('key3', {2, 3, 4, 5, 7, 8}), ('key', {3: 4, 7: 8})])

In [20]:
d['key4'] = 'asrg'

In [17]:
d

{'name': 'arnob',
 'mo_no': '01610812120',
 'email': 'sakifarnob98@gmail.com',
 'key1': [3, 5, 2, 3, 5],
 'key2': (3, 2, 5, 4, 7),
 'key3': {2, 3, 4, 5, 7, 8},
 'key': {3: 4, 7: 8},
 'key4': 'asrg'}

In [21]:
del d['key4']
d

{'name': 'arnob',
 'mo_no': '01610812120',
 'email': 'sakifarnob98@gmail.com',
 'key1': [3, 5, 2, 3, 5],
 'key2': (3, 2, 5, 4, 7),
 'key3': {2, 3, 4, 5, 7, 8},
 'key': {3: 4, 7: 8}}

In [24]:
d.get('key1')

[3, 5, 2, 3, 5]

In [26]:
d.update(d1)

In [27]:
d

{'name': 'arnob',
 'mo_no': '01610812120',
 'email': 'sakifarnob98@gmail.com',
 'key1': 'asee',
 'key2': 'aweg',
 'key3': {2, 3, 4, 5, 7, 8},
 'key': {3: 4, 7: 8}}

In [30]:
key = ('wef','werga', 'werberb')
value = 'erg', 'werg'
dn = d1.fromkeys(key, value)
dn

{'wef': ('erg', 'werg'), 'werga': ('erg', 'werg'), 'werberb': ('erg', 'werg')}

keys must be immutable element 
dictionaries cant be concatenated